$color-teal: #17A2B8;

body{
    font-family: "Open Sans", sans-serif;
}

.jumbotron{
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #ebf3f3, #a0dfdb, #70b5b8);
    color: white;
}



.form-group {
    margin: 10px 10px;
}

.tab-content {
    border: 1px;
    border-top: none;
    padding: 10px;
}

.navbar {
    padding: 30px;
    background-image: linear-gradient(to right, #ebf3f3, #a0dfdb, #70b5b8);
}

body{
    margin: 0;
    padding: 0;
}

#homeCarousel{
    height: 50vh;
    width: 100%;
}
#homeCarousel img{
    height: 50vh;
    width: 100%;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

h2, p{
    margin: 25px;
}
h2{
    font-family: "Lobster", cursive;
    color: rgb(14, 15, 13);
}

#places{
    background-color: rgb(209, 235, 235);
    padding: 30px 0px;
}
#places h1{
    font-family: "Lobster", cursive;
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
}
.title{
    text-align:  center;
    padding: 25px 0px;
}
.title p {
    font-size: 18px;
}
.card{
    margin: 20px 10px;
}
.card-body{
    color:#101516;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
}
.card-body a:hover{
    color: rgb(76, 131, 145);
    text-decoration: none;
}
h1{
    font-family:"Lobster", cursive;
}

.site-footer{
    background-image: linear-gradient(#d4ebee, white);
    padding: 20px 0;
}

#bookModal{
    .modal-header {
        background-color: #b6dddd ;
    }
}

#reserveModal {
    .modal-header {
        background-color: $color-teal;
        content: $color-pale;
    }
}